.tmp
CMakeCache.txt
compile_commands.json
Makefile
cmake_install.cmake
.vscode
artifacts
bin/linux/logs
bin/
logs
build
painter_autogen
src/commands/commands_autogen
src/commands/test/test_delete_command_autogen
src/commands/test/test_load_save_commands_autogen
src/commands/test/test_shape_creation_directive_commands_autogen
src/core/core_autogen
src/core/qt_shapes/qt_shapes_autogen
src/core/rq/rq_autogen
src/core/rq/test/test_RegionQueryService_autogen
src/gui/gui_autogen
src/io/io_autogen
CMakeFiles
output
*.OUT
test_out
test.info
FAILURES.html
src/core/design/design_autogen
src/core/rq/test/test_RegionQueryService2_autogen
unit_test_bin
